@charset "utf-8";

// Typography
@import "./fonts/iosevka-mechpig/webfont.css";

$family-sans-serif: "Helvetica";
$family-serif: "Iosevka Mechpig Web", "monospace";

$primary: hsl(46, 100%, 95%);
$primary-invert: hsl(24, 8%, 11%);
$primary-link: hsl(44, 11%, 47%);
$primary-link-invert: $primary;

$body-family: $family-serif;
$title-family: $family-sans-serif;
$subtitle-family: $family-sans-serif;
$button-family: $family-sans-serif;

$body-size: 24px;

$link: $primary-link;
$link-invert: $primary-link-invert;
$link-active: $primary-link;
$link-active-border: $primary-link;
$link-hover: $primary-link;
$link-hover-border: $primary-link;
$link-focus: $primary-link;
$link-focus-border: $primary-link;

// Import Bulma styles
@import "~bulma/bulma";

// Import rbx style fixes (**very simple**)
@import "~rbx/rbx";
